$colorDarkGray : rgb(88, 88, 88);
$colorBgLight : rgb(233, 233, 233);
$colorLabelContainer : rgb(77, 77, 77);
$colorLinkFocus : rgb(0, 141, 206);
$colorLinkHover : rgb(0, 92, 134);
$colorBgSearchInput : rgb(82, 82, 82);
$colorSearchInput : rgb(136, 136, 136);
$colorBgFocusSearchInput : white;
$colorFocusSearchInput : black;
$colorBgNumberOfPage :rgb(255, 255, 255);
$colorNumberOfPage: rgb(0, 153, 255);
$colorBgActiveNumberPage : rgb(59, 177, 255);
$colorActiveNumberPage : white;

$colorBgProfile : white;