<html>

<head>
    <title>Github Dashboard</title>
    <link href="css/repos.css" rel="stylesheet">
    <link href="css/general_style.css" rel="stylesheet">
    <script src="js/repos.js"></script>
</head>

<body>
    <header>
        <a href="/">
            <div class="LabelHeader">Github Dashboard</div>
        </a>
    </header>
    <div class="Container">
        <div class="HeaderProfile">
            <div class="ImgProfile"><img src="pic/emptyPic.png" width="150px"
                    id="ImgProfile"></div>
            <div class="RepositoryInfo">
                <div>Название репозитория: <p id="NameRepos">Загрузка..</p></div>
                <div>Дата последнего commit(а): <p id="LastCommit">Загрузка..</p></div>
                <div>Владелец: <a href="#" id="NameProfile">Загрузка..</a></div>
                <div>Звезд: <p id="StarCount">10</p></div>
                <ul class="Language" id="Language">Язык:
                </ul>
            </div>
        </div>
        <div class="Description">Описание
            <br />
            <p id="Description">Загрузка..</p>
        </div>
        <div class="Contributors">
            <ul id="Contributors">Топ самых активных контрибьютеров</ul>
        </div>
    </div>
</body>

</html>