.SearchPanel {
  position: absolute;
  justify-content: center;
  font-size: large;
  width: 100%;
}

.SearchInput {
  display: block;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  padding: 5px;
  font-size: 1.2em;
  border-radius: 5px;
  border: none;
  background-color: #525252;
  color: #888888;
  text-align: center;
  width: 40%;
  transition: 0.2s;
}
.SearchInput:focus {
  background-color: white;
  color: black;
  transition: 0.2s;
  width: 50%;
  text-align: left;
}

.LabelContainer {
  color: #4d4d4d;
  width: 100%;
  margin: 0px;
  text-align: center;
  font-size: 1.8em;
  font-family: "Segoe UI Light", Tahoma, Geneva, Verdana, sans-serif;
}

.ReposList {
  display: flex;
  flex-direction: column;
  min-height: 80%;
  padding: 0;
}

.Repos {
  font-size: 1.3em;
  width: 60%;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
}

.LeftSide {
  display: inline-block;
}

.RightSide {
  float: right;
  text-align: right;
}

.NameRepos {
  margin-left: 10px;
  color: #008dce;
  cursor: pointer;
}
.NameRepos:hover {
  color: #005c86;
}

.DataUpdate {
  margin-top: 10px;
  color: #585858;
}

.CountStars {
  margin-top: 10px;
  margin-left: 10px;
}

.Paginator {
  display: flex;
  justify-content: center;
}

.NumberOfPage {
  display: inline-block;
  background-color: white;
  color: #0099ff;
  text-align: center;
  padding: 10px;
  width: 60px;
  transition: 0.3s;
  border: none;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-left: 5px;
  outline: none;
  font-size: 1.3em;
}
.NumberOfPage:hover {
  background-color: #3bb1ff;
  color: white;
  transition: 0.3s;
}

.ActivePage {
  background-color: #3bb1ff;
  color: white;
}

@media (max-width: 900px) {
  .LabelHeader {
    display: none;
  }

  .SearchInput {
    width: 80%;
    height: 50px;
  }
  .SearchInput:focus {
    width: 90%;
  }

  .Repos {
    width: 100%;
    transition: 0.5s;
  }

  .LeftSide {
    display: block;
    width: 100%;
    text-align: center;
  }

  .RightSide {
    display: block;
    width: 100%;
    text-align: center;
  }
}
@media (orientation: portrait) {
  .ReposList {
    min-height: 100%;
  }
}